<!DOCTYPE html>
<html>
<body>
  <div class="container">
    <div class="header">
    </div>
    <br/>
    <div class="bottom">
    <h3>Finished Results:</h3>
      <% @finished_list.each do |finList| %>
        <%= form_tag :action => 'getResult', :method => :get, :id => 'album_form' do %>
          <%= link_to image_tag(finList.result_link, :size => '100x100'), finList.result_link %>
          <h5>Task:</h5>
          <%= finList.task %>
          <%= submit_tag 'Accept', :id => "pic_accept" %>
        <% end %>
        <form name="reject" action="getResult">
          <input class="backButton" type="submit" value="Reject" />
        </form>
      <% end %>
    <hr/>
    <h3>Pending Results:</h3>
      <p><%= @pending_list.length %> Picture(s) still in progress.</p>
      <%= form_tag :action => 'index', :method => :get, :id => 'album_form' do %>
        <%= submit_tag 'Back to Index', :id => "pic_accept" %>
      <% end %>
    </div>    
  </div>
</body>
</html>
