    
<div class = "body">
    <h3 id="greet" >Hello, <%= @user_name%></h3>
    <div class= "picture-select">
      <h4>Your Picture:</h4>
      <BLOCKQUOTE>
      <% if @selected_picture == {} %>
        <h5>0 Picture(s) selected</h5>
      <% else %>
        <h5><%= @pictureSelected.length %> Picture(s) selected</h5>
        <% @pictureSelected.each do |pic| %>
          <li><%= pic.name %></li>
        <% end %>  
      <% end %>
      <BLOCKQUOTE>
    </div>
    <div class= "albums-list">
    	<h4 id="myAlbum">Facebook Album:</h4>	
    	<div class="facebook-photos">
      	<% if @albums.nil?%>
      		<p>Welcome to Crowd Photo Editor</p>
      	<% else%>
      	<% @albums.each do |album|%>
      	<div class = "facebook-album">
      		<a href=<%= album.link%>>
      		<img src=<%= album.picture%> alt=<%= album.name%> width="150" height="120" border="0" />
      		</a>
      		<p><%= link_to album.name, album.link,  :class => "album-name"%></p>
      		<p><%= album.count%> Photos</p><br/>  		
      	</div>
      	
      <%end%>
      <%end%>
      </div> 
  <br/><br/><br/><br/><br/><br/><br/>
  <h4>Crowd Album:</h4>

  <% current_user.albums.each do |item|%>
    <li><%= link_to item.name, :action => "selectPhoto" , :album_id => item.id %></li>
  <% end %>
  </div>
</div>
<div class="foot">
	<div class="upload-action">
		  <form name="upload" action="/dashboard/uploadPhotoToNew">
			Upload new photos:
			<input type="submit" value="Upload" width="70px"/>
		  </form>
	</div>
	<div class="doneSelection">
	    <form name="done" action="specifyTask">
	      <input type="submit" value="Done Selection" width="70px"/>
	    </form>
	</div>
</div>
