<div class = "body">
	<div class="btn-toolbar">
	<div class = "btn-group">
    <%=link_to "Upload New Photo", {:action => "uploadPhotoToNew"}, :class => "btn btn-success"%>
   	</div>
    <div class = "btn-group">
    <%=link_to "Done Selection", {:action => "specifyTask"}, :class => "btn btn-danger"%>
	</div>
	</div>
	
    <h4 id="greet" >Hello, <%= @user_name%></h4><br/>
    
    <div class= "picture-selection">     
      <BLOCKQUOTE>
      <h4 class="pic-selection-title">Picture Selection:</h4>
      <% if @selected_picture == {} %>
        <h5><span class="badge">0</span>  picture selected</h5>
      <% else %>     
        <h5><span class="badge">0<%= @pictureSelected.length %></span>  picture(s) selected</h5>
        <% @pictureSelected.each do |pic| %>
          <li><%= pic.name %></li>
        <% end %>  
      <% end %>
      <BLOCKQUOTE>    	
    </div>
    
    
    
    <div class= "albums-list">
    	<div class="albums-header">
	    	<h4 class="album-list-title">Your Album(s):</h4>
	    	<span id = "facebook-label" class="label">In Facebook</span>
	    	<span class="label label-warning">In Crowd</span>	
    	</div>
    	
    	<div class="facebook-albums">
      	<% if @albums.nil?%>
      	<p>Welcome to Crowd Photo Editor</p>
      	<% else%>
      	<% @albums.each do |album|%>
      	<div class = "singal-album">
      		<a href=<%= album.link%>>
      		<img src=<%= album.picture%> alt=<%= album.name%>>
      		</a>
      		<br/>
      		<p><%= link_to album.name, album.link,  :class => "album-name"%></p>
      		<small><%= album.count%> Photos</small> 		
      	</div>
      	
      <%end%>
      <%end%>
      </div>
   
  <div class= "separat-line"><small><hr/></small></div>
    
  
  <div class="crowd-albums">
  	<% current_user.albums.each do |item|%>
  	<div class="singal-album">
    <li><%= link_to item.name, :action => "selectPhoto" , :album_id => item.id %></li>
    </div>
  	<% end %>
  </div>
  
  </div>
</div>


