<!DOCTYPE html>
<html>
<body>
  <div class="container">
    <div class="header">
      <h2 id="header-icon"></h2>
      <h4 id="username_text">Hello, <%= @user_name %></h4>
      <form name="logoutPage" action="/">
        <input class="logout" class="logout button" id="logout-text" type="submit" value="Logout" />
      </form>
    </div>
    <div class="bottom">
      <p id="inst">Here is a list of task you specified. Click Edit to go back to specify tasks page to make changes, or click Submit to send out your request.</p>
      <%= form_tag :action => 'submit', :method => :get, :id => 'pictureTable' do %>
        <table border="2" width="300" class="listPicture">
          <tr>
            <th>Picture</th>
            <th>Task</th>
            <th># Results</th>
          </tr>
          <% @pictureSelected.each do |pic| %>
            <tr>
              <td height="100"><%= pic.name %></td>
              <td height="100"><%= label_tag 'task', @specify_task["#{pic.id}"] %></td>
              <td height="100"><%= label_tag 'result', @specify_result["#{pic.id}"] %></td>
            </tr>
          <% end %>
        </table>
        <br/>
        <%= submit_tag 'Submit', :id => "continueButton" %>
      <% end %>
      <br/><br/>
      <form name="goBack" action="specifyTask">
        <input class="backButton" type="submit" value="Edit" />
      </form>
    </div>
  </div>
</body>
</html>
