<!DOCTYPE html>
<html>
<body>
  <div class="container">
    <div class="header">
      <h2 id="header-icon"></h2>
      <h4 id="username_text">Hello, <%= @user_name %></h4>
      <form name="logoutPage" action="/">
        <input class="logout" class="logout button" id="logout-text" type="submit" value="Logout" />
      </form>
    </div>
    <div class="bottom">
      <p id="inst">Instruction: You can choose one of the photos from the current album and click continue and specify the task, or just click back to go back to My Album page.</p>
      <h2 id="myAlbum"><%= @album_name %></h2>
      
      <!--DEBUG: the following needs to be modify-->
      <%= form_tag :action => 'index', :method => :get, :id => 'album_form' do %>
        <% @picture_list.each do |picture| %>
        
        <%= check_box_tag "#{picture.name}", "picture[#{picture.id}]", 1 %>
        <%= picture.name %>
        <% end %>
        <%= submit_tag 'Continue', :id => "pic_submit" %>
      <% end %>
      <form name="goBack" action="index">
        <input class="backButton" type="submit" value="Back" />
      </form>
    </div>
  </div>
</body>
</html>
