<title><% @page_title = "Specify Task"%></title>
  <div class="container">
    <br/>
    <div class="bottom">
      <p id="inst">Here are the photos you have selected. Please specify what tasks you want to request and how many results you want to get back. For example: </p>
      <pre>A <b>Task</b> of <b>"remove red eyes"</b> and <b># Results</b> of <b>3</b> will allow three different workers to remove red eyes from your picture.</pre>
      <p> Be precise with your task requests! Clear step-by-step instructions from you will help our workers perform the exact job you want. Also tell us where to send your results (we will store pictures on imm.io by default).
      <%= form_tag :action => 'reviewTask', :method => :get, :id => 'pictureTable' do %>
        <table border="2" width="450" class="listPicture">
          <tr>
            <th>Picture</th>
            <th>Task</th>
            <th># Results</p></th>
          </tr>
          <% @pictureSelected.each do |pic| %>
            <tr>
                <td height="100" ><%= image_tag pic.internal_link, :size => '100x100'%><%= pic.name %></td>
              <% if @specify_task == {} %>
                <td height="100" > <%= text_area_tag "tasks[#{pic.id}]", '', :size => '50x5' %></td>
              <% else %>
                <td height="100"><%= text_area_tag "tasks[#{pic.id}]", @specify_task["#{pic.id}"], :size => '50x5' %></td>
              <% end %>
              <% if @specify_result == {} %>
                <td height="100"><%= text_field_tag "results[#{pic.id}]", '', :size => '10' %></td>
              <% else %>
                <td height="100"><%= text_field_tag "results[#{pic.id}]", @specify_result["#{pic.id}"], :size => '10' %></td>
              <% end %>
            </tr>
          <% end %>
          <% @picturefbSelected.each do |pic| %>
            <tr>
                <td height="100" ><%= image_tag pic, :size => '100x100'%></td>
              <% if @specify_task == {} %>
                <td height="100" > <%= text_area_tag "tasks[#{pic}]", '', :size => '50x5' %></td>
              <% else %>
                <td height="100"><%= text_area_tag "tasks[#{pic}]", @specify_task["#{pic}"], :size => '50x5' %></td>
              <% end %>
              <% if @specify_result == {} %>
                <td height="100"><%= text_field_tag "results[#{pic}]", '', :size => '10' %></td>
              <% else %>
                <td height="100"><%= text_field_tag "results[#{pic}]", @specify_result["#{pic}"], :size => '10' %></td>
              <% end %>
            </tr>
          <% end %>
        </table>
        <br/>
        <%= submit_tag 'Review Task',:class => "btn btn-danger", :id => "pic_submit" %>
		<a class = "btn btn-warning" href="/dashboard/index">Cancel</a>
      <% end %>
      
    </div>
  </div>

