<title><%= @page_title = "Upload Photo"%></title>
	
	  <!-- based on picasa, start from here -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.js"></script> 
    <script src="http://malsup.github.com/jquery.form.js"></script> 

	  <!-- based on piacasa, end here -->	
  
  	<h2>Upload Photo  <i class="icon-picture"></i></h2>
  	<br/>
  	
  	<div class="container">
	    
	    <div class="mainContent">
	      <div class="uploadPhotoSection">
	      		      	
	      <%= form_tag({:controller => "dashboard", :action => "uploadPhotoToNew"}, :method => :post, :class => "uploadPhoto", :multipart => true) do %>
          Album name:
          <%= text_field_tag :albumName, nil, :placeholder=>"Enter new album name" %> or <%= link_to "add to an existing album", :controller => "dashboard", :action => "selectAlbum" %>
   		  <hr />

   		  <p id="selectPhotoGuide">Select photos from your computer:</p><br />
          
          <%= file_field 'upload', 'datafile', :id => "selectPhotoButton" %>
          
          
          <%= submit_tag "Upload", :id => "uploadButton" %>
          <% end %>
	 
					
			<form name="cancel" action="index">
				<input type="submit" id="cancelButton" value="Cancel" /> 
	  		</form>
			
			<!--<form name="ok" action="/dashboard/dashboardpage">
				<input type="submit" id="okButton" value="Ok" />
	  		</form>-->
	  	
	        
	      </div>
	    </div>
	  </div>
