<title><% @page_title = "Sign In"%></title>

<div class = "auth-body">
<h3>Sign in with Facebook</h3>
<div class="facebook">
	<br/> 
	<a href="/auth/facebook" class="services2"><%= image_tag "facebook.png", :size => "126x34",  :alt => "Facebook" %></a>
    <br/>
</div>

<small><hr/></small>
<h3>Or to your account</h3><br/>

<div class = "auth-input">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.email_field :email, :placeholder => :Email %></div>

  <div><%= f.password_field :password, :placeholder => :Password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>
  <br/>
  <div><%= f.submit "Sign in", :class => 'btn btn-success btn-large' %></div>
<% end %>
</div>

<%= render "links" %>
</div>
