<!DOCTYPE html>
<html>

<head>
  <title>MW Photo Manipulator</title>
</head>

<body class="signin-body">
  <div class="container">
  	
    <div class="header">
      <h2 id="header-icon"></h2>
      
      <%= form_tag( {:controller => "account", :action => "login"}, :method => :post, :class => "signin") do %>
      	<div class="flash message">
      	  	<% if flash[:error] %>
      			<td class="notice"><%= flash[:error] %></td>
      	  	<% end %>
      	</div>
      	
      	<table class="signin-table";>
      		<tr class="table-title">
      			<td>Email</td>
      			<td>Password</td>
      		</tr>
      		<tr>
      			<td><%= text_field_tag :email, nil, :placeholder=>"Enter your email" %></td>
      			<td><%= password_field_tag :password, nil, :placeholder=>"Enter your password" %></td>
      			<td><%= submit_tag "Log In", :class => "signin bottom" %></td>    			
      		</tr>     		
      	</table>
      	  
      <% end %>
    </div>
    
    <div class="bottom">
      <div class="square">
      	
      	<div class="flash message">
      	  New User? Feel free to sign up here.
      	  <% if flash[:notice] %>
      		<p class="notice"><%= flash[:notice] %></p>
      	  <% end %>
      	</div>
      	  
      	<%= form_tag({:controller => "account", :action => "signup"}, :method => :post, :class => "authentication") do %>
          <%= label_tag "User name" %>
          <%= text_field_tag :username, nil, :placeholder=>"Enter your new username" %><br/><br/>
          <%= label_tag "Email" %>
          <%= text_field_tag :email, nil, :placeholder=>"Enter your E-mail" %><br/><br/>
          <%= label_tag "Password" %>
          <%= password_field_tag :password, nil, :placeholder=>"Enter your password" %><br/><br/>
          <%= label_tag "Password confirm" %>
          <%= password_field_tag :password_confirm, nil, :placeholder=>"Re-enter your password" %>
          
          <div class="signup">
            <!-- <input type="submit" class="signup buttom" value="Sign Up" tabindex="0"> -->
            <%= submit_tag "Sign Up", :class => "signup bottom" %>
          </div>
        <% end%>
        
        <%= form_tag("/auth/facebook", :method => :get, :class => "authentication") do %>  
          <div class="facebook">
          	<%= submit_tag "Facebook", :class => "fbConnect bottom" %>
          </div>
          <% end%>
            
      </div>
    </div>
  </div>
</body>
</html>
